@media (min-width: 640px)
  .container
    max-width 584px

@media (min-width: 768px)
  .container
    max-width 720px

@media (min-width: 1024px)
  .container
    max-width 996px

@media (min-width: 1200px)
  .container
    max-width 1140px

@media (min-width: 1400px)
  .container
    max-width 1280px

@media (min-width: 1900px)
  .container
    max-width 1400px

@media (max-width: 1440px)
  .description
    padding-left 15px
  .item-desc
    padding-left 46px
  .item-img
    .sticker
      left -26px

// Large
@media (max-width: 1199.98px)
  header
    padding: 30px 0 0
    left 18px

  .title
    font-size 36px

  .subtitle
    font-size 16px
    line-height 1.125
    margin-bottom 22px

  .btn
    font-size 22px
    padding 14px 24px 12px

  .text
    font-size 16px
    line-height 1.3125

  .screen-summary
    height 556px
    background-size cover
    padding-top 76px
    .title
      font-size 30px

  .screen-description
    height 535px
    background-size cover
    .title
      font-size 28px

  .description
    padding-left 70px

  .description-img
    width 175px

  .screen-work
    padding 74px 0
    .title
      margin-bottom 46px

  .work-step
    .arrow
      background-size 18px
      width 18px
      height 47px
      right -16px
      top 24px
    img
      width 98px
      margin-bottom 28px
    .text
      font-size 14px
      line-height 1.14

  .screen-scheme
    padding-bottom 80px
    .title
      margin-bottom 50px
    img
      max-width 611px

  .screen-alarm
    padding-top 24px
    .title
      margin-bottom 20px

  .alarm-step
    margin-bottom 26px
    img
      width 134px
      margin-bottom 17px
    .text
      font-size 16px
      line-height 1.125

  .item-desc
    padding-left 80px

  .item-img
    img
      max-width 280px
      margin-bottom 20px
    .sticker
      width 112px
      height 112px
      top 35px
      left -15px
      font-size 14px
      span
        font-size 18px

  .item-price
    margin-bottom 20px
    .text
      font-size 14px
    .price
      font-size 30px

  .screen-callback
    padding 44px 0
    .title
      font-size 26px
      margin-bottom 20px
    .text
      font-size 16px
      line-height 1.11
      margin 0 -50px 32px
    .btn
      font-size 16px
      padding 10px
    .form-text
      font-size 11px
      margin 0 0 12px
    .form-group
      margin-bottom 16px
    .form-control
      height 34px
      padding 10px 13px
      font-size 14px

// Medium
@media (max-width: 991.98px)
  .description
    padding-left 15px
    .title
      font-size 22px

  .description-img
    width 140px
    margin-top 20px

  .work-step
    .arrow
      background-size: 14px;
      width: 14px;
      right: -20px;

  .item-desc
    padding-left 15px

// Small
@media (max-width: 767.98px)
  header
    padding: 35px 0 0
    left auto
    right 0
    left 18px
      a
        font-size 28px
  .title
    font-size 44px

  .subtitle
    font-size 26px
    line-height 1.15
    margin-bottom 15px
    margin-right -64px

  .btn
    font-size 40px
    padding 25px 0 22px
    width 100%

  .text
    font-size 22px
    line-height 1.27

  .screen-summary
    height auto
    background none
    .title
      font-size 44px

  .summary
    margin auto
    padding 0 10px

  .screen-description
    height auto
    background none
    padding-top 28px
    .title
      font-size 44px
      color #333333
      text-align center

  .description-bg-bottom
    background url("../assets/images/bg_screen2_mobile.jpg") no-repeat center
    height 540px
    background-size cover
    margin-top 50px

  .description
    padding-left 15px

  .description-img
    display none

  .screen-work
    padding 46px 0 0

  .work-step
    margin-bottom 126px
    .arrow
      transform rotate(0)
      background-size 38px
      width 38px
      height 96px
      right auto
      left 98px
      top auto
      bottom -112px
    img
      width 201px
      margin-bottom 0
      margin-right 20px
    .text
      font-size 30px
      text-align left

  .screen-scheme
    padding-bottom 60px
    .title
      margin-bottom 56px
    img
      max-width 534px

  .screen-alarm
    padding 34px 0 64px
    .title
      margin-bottom 30px

  .alarm-step
    margin-bottom 34px
    img
      width 280px
      margin-bottom 12px
    .text
      font-size 22px
      line-height 1.27

  .screen-item
    .title
      text-align center
      margin-top 90px
    .text
      margin-bottom 62px

  .item-desc
    padding-left 15px

  .item-img
    margin-left 60px
    img
      max-width 400px
      margin-bottom 30px
    .sticker
      width 150px
      height 150px
      top 62px
      left -56px
      font-size 20px
      span
        font-size 25px

  .item-price
    margin-bottom 18px
    .text
      font-size 22px
    .price
      font-size 44px

// Extra small
@media (max-width: 575.98px)
  .container
    padding 0 15px

  .btn
    font-size 22px

  header
    right 15px

  .work-step
    margin-bottom 68px
    .arrow
      background-size 18px
      width 18px
      height 47px
      right auto
      left 71px
      top auto
      bottom -60px
    img
      width 128px
    .text
      font-size 18px

  .screen-scheme
    img
      max-width 280px

  .alarm-step
    img
      width 240px

  .item-img
    margin-left 0
    img
      max-width 280px
    .sticker
      top 0
      left 0

  .item-price
    width 100%
    border 0!important
    .text
      margin-bottom 20px